In [1]:
#Data imports
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

#Math
import math

#Plot
#plot import
import matplotlib.pyplot as plt
import seaborn as sns

sns.set_style('whitegrid')
%matplotlib inline

#Machine learning
import sklearn


#Evaluating ML results
from sklearn import metrics

Naive Bayes methods are a set of supervised learning algorithms based on applying Bayes’ theorem with the “naive” assumption of independence between every pair of features. Given a class variable y and a dependent feature vector x1 through xn, Bayes’ theorem states the following relationship:

    P(y∣x1,…,xn)=P(y)P(x1,…xn∣y)P(x1,…,xn)
    P(y∣x1,…,xn)=P(y)P(x1,…xn∣y)P(x1,…,xn)
Using the naive independence assumption that
        P(xi|y,x1,…,xi−1,xi+1,…,xn)=P(xi|y)
        P(xi|y,x1,…,xi−1,xi+1,…,xn)=P(xi|y)
for all i, this relationship is simplified to:

    P(y∣x1,…,xn)=P(y)∏ni=1P(xi∣y)P(x1,…,xn)
    P(y∣x1,…,xn)=P(y)∏i=1nP(xi∣y)P(x1,…,xn)
We now have a relationship between the target and the features using Bayes Theorem along with a Naive Assumption that all features are independent.

# Gaussian Naives Bayes

In [2]:
nyc_sub = pd.read_csv('C:/Users/aswat/nyc_subway_weather.csv')

In [3]:
nyc_sub.head()

,UNIT,DATEn,TIMEn,ENTRIESn,EXITSn,ENTRIESn_hourly,EXITSn_hourly,datetime,hour,day_week,...,pressurei,rain,tempi,wspdi,meanprecipi,meanpressurei,meantempi,meanwspdi,weather_lat,weather_lon
0,R003,5/1/2011,0:00:00,4388333,2911002,0.0,0.0,5/1/2011 0:00,0.0,6.0,...,30.22,0.0,55.9,3.5,0.0,30.258,55.98,7.86,40.700348,-73.887177
1,R003,5/1/2011,4:00:00,4388333,2911002,0.0,0.0,5/1/2011 4:00,4.0,6.0,...,30.25,0.0,52.0,3.5,0.0,30.258,55.98,7.86,40.700348,-73.887177
2,R003,5/1/2011,12:00:00,4388333,2911002,0.0,0.0,5/1/2011 12:00,12.0,6.0,...,30.28,0.0,62.1,6.9,0.0,30.258,55.98,7.86,40.700348,-73.887177
3,R003,5/1/2011,16:00:00,4388333,2911002,0.0,0.0,5/1/2011 16:00,16.0,6.0,...,30.26,0.0,57.9,15.0,0.0,30.258,55.98,7.86,40.700348,-73.887177
4,R003,5/1/2011,20:00:00,4388333,2911002,0.0,0.0,5/1/2011 20:00,20.0,6.0,...,30.28,0.0,52.0,10.4,0.0,30.258,55.98,7.86,40.700348,-73.887177

In [4]:
nyc_sub.describe()

,ENTRIESn,EXITSn,ENTRIESn_hourly,EXITSn_hourly,hour,day_week,weekday,latitude,longitude,fog,...,pressurei,rain,tempi,wspdi,meanprecipi,meanpressurei,meantempi,meanwspdi,weather_lat,weather_lon
count,4.264900e+04,4.264900e+04,42647.000000,42647.000000,42647.000000,42647.000000,42648.000000,42648.000000,42648.000000,42648.000000,...,42648.000000,42647.000000,42647.000000,42647.000000,42647.000000,42647.000000,42647.000000,42647.000000,42647.000000,42647.000000
mean,2.812486e+07,1.986993e+07,1886.648862,1361.523859,10.046381,2.905691,0.714430,40.724648,-73.940366,0.009825,...,29.971095,0.224752,63.103735,6.927711,0.004618,29.971097,63.103968,6.927782,40.728558,-73.938698
std,3.043607e+07,2.028986e+07,2952.441710,2183.890279,6.938864,2.079250,0.451691,0.071650,0.059712,0.098632,...,0.137943,0.417424,8.455722,4.510216,0.016345,0.131159,6.939119,3.179879,0.065421,0.059581
min,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,40.576152,-74.073622,0.000000,...,29.550000,0.000000,46.900000,0.000000,0.000000,29.590000,49.400000,0.000000,40.600204,-74.014870
25%,1.039762e+07,7.613712e+06,274.000000,237.000000,4.000000,1.000000,0.000000,40.677107,-73.987342,0.000000,...,29.890000,0.000000,57.000000,4.600000,0.000000,29.913333,58.283333,4.816667,40.688591,-73.985130
50%,1.818389e+07,1.331609e+07,905.000000,664.000000,12.000000,3.000000,1.000000,40.717241,-73.953459,0.000000,...,29.960000,0.000000,61.000000,6.900000,0.000000,29.958000,60.950000,6.166667,40.720570,-73.949150
75%,3.263049e+07,2.393771e+07,2255.500000,1537.000000,16.000000,5.000000,1.000000,40.759123,-73.907733,0.000000,...,30.060000,0.000000,69.100000,9.200000,0.000000,30.060000,67.466667,8.850000,40.755226,-73.912033
max,2.357746e+08,1.493782e+08,32814.000000,34828.000000,20.000000,6.000000,1.000000,40.889185,-73.755383,1.000000,...,30.320000,1.000000,86.000000,23.000000,0.157500,30.293333,79.800000,17.083333,40.862064,-73.694176

In [5]:
df1 = nyc_sub.copy()
#drop rows with NA
df1.dropna(inplace = True)
df1.apply(lambda x: sum(x.isnull()),axis=0)

UNIT               0
DATEn              0
TIMEn              0
ENTRIESn           0
EXITSn             0
ENTRIESn_hourly    0
EXITSn_hourly      0
datetime           0
hour               0
day_week           0
weekday            0
station            0
latitude           0
longitude          0
conds              0
fog                0
precipi            0
pressurei          0
rain               0
tempi              0
wspdi              0
meanprecipi        0
meanpressurei      0
meantempi          0
meanwspdi          0
weather_lat        0
weather_lon        0
dtype: int64

In [6]:
nyc_data = df1[['fog','precipi','pressurei','rain','tempi','wspdi']]

In [7]:
nyc_target = df1[['conds']]

In [8]:
nyc_complete = pd.concat([nyc_data,nyc_target],axis=1)

In [9]:
nyc_complete.head()

   fog  precipi  pressurei  rain  tempi  wspdi          conds
0  0.0      0.0      30.22   0.0   55.9    3.5          Clear
1  0.0      0.0      30.25   0.0   52.0    3.5  Partly Cloudy
2  0.0      0.0      30.28   0.0   62.1    6.9  Mostly Cloudy
3  0.0      0.0      30.26   0.0   57.9   15.0  Mostly Cloudy
4  0.0      0.0      30.28   0.0   52.0   10.4  Mostly Cloudy

In [10]:
X = nyc_data
Y = nyc_target
Y = np.ravel(Y)

In [12]:
#Fit a naives Bayes model
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()

In [14]:
from sklearn.cross_validation import train_test_split

# Split the data into Trainging and Testing sets
X_train, X_test, Y_train, Y_test = train_test_split(X, Y)

In [15]:
# Fit the training model
model.fit(X_train,Y_train)

GaussianNB(priors=None)

In [16]:
# Predicted outcomes
predicted = model.predict(X_test)

# Actual Expected Outvomes
expected = Y_test

In [17]:
print(metrics.accuracy_score(expected, predicted))

0.390733445883

The accuracy is low when compared to that of the KNN

# Scaling, normalization

In [18]:
from sklearn import preprocessing

In [19]:
# Create a minimum and maximum processor object
min_max_scaler = preprocessing.MinMaxScaler()

# Create an object to transform the data to fit minmax processor
x_scaled = min_max_scaler.fit_transform(X)

# Run the normalizer on the dataframe
df_normalized = pd.DataFrame(x_scaled)

In [20]:
# View the dataframe
df_normalized.head()
df_normalized.columns = ['fog','precipi','pressurei','rain','tempi','wspdi']
df_normalized.head()

   fog  precipi  pressurei  rain     tempi     wspdi
0  0.0      0.0   0.870130   0.0  0.230179  0.152174
1  0.0      0.0   0.909091   0.0  0.130435  0.152174
2  0.0      0.0   0.948052   0.0  0.388747  0.300000
3  0.0      0.0   0.922078   0.0  0.281330  0.652174
4  0.0      0.0   0.948052   0.0  0.130435  0.452174

In [21]:
X.head()

   fog  precipi  pressurei  rain  tempi  wspdi
0  0.0      0.0      30.22   0.0   55.9    3.5
1  0.0      0.0      30.25   0.0   52.0    3.5
2  0.0      0.0      30.28   0.0   62.1    6.9
3  0.0      0.0      30.26   0.0   57.9   15.0
4  0.0      0.0      30.28   0.0   52.0   10.4

In [23]:
from sklearn.cross_validation import train_test_split

# Split the data into Trainging and Testing sets
X_train, X_test, Y_train, Y_test = train_test_split(X, Y)

In [24]:
model1 = GaussianNB()

In [25]:
model1.fit(X_train,Y_train)

GaussianNB(priors=None)

In [26]:
# Predicted outcomes
predicted = model.predict(X_test)

# Actual Expected Outvomes
expected = Y_test

In [27]:
print(metrics.accuracy_score(expected, predicted))

0.383792909398